    
    
 %main-color{
    color: #fff;
}
%main-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
%main-font1{
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;  
}
%main-font2{
font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px
}
%main-font3{
font-family: 'DM Serif Display';
font-style: normal;
font-weight: 400;
}
%main-font4{
font-family: 'Roboto Mono';
font-style: normal;
font-weight: 400;
font-size: 13px;
}