.footer {
    position: relative;
    margin-top: 100px;
&__img{
    position: absolute;
    z-index: -1;
    right: 0px;
}
&__list {
    background-color: #1B262F;
    width: 1440px;
    height: 100px;
    padding: 36px;
    @extend %main-flex;
}
&__btn {
    @extend %main-flex;
    gap: 30px;
}
}
