.hero {
    margin-top: 64px;
    @extend %main-flex;
&__list {
    width: 546px;
    height: 345px;
}
&__h1 {
width: 546px;
height: 243px;
@extend %main-font3;
font-size: 72px;
line-height: 72px;
letter-spacing: -0.553846px;
color: #36536B;
}
&__form {
width: 445px;
height: 48px;
@extend %main-flex;
margin-top: 25px;
background: #FBFCFE;
box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
border-radius: 24px;
padding: 0px 0px 0px 27px;
}
&__input {
@extend %main-font1;
line-height: 18px; 
border-radius: 24px;
padding: 12px;
border: 1px solid white;
}
&__input:hover{
    border: 1px solid red($color: #BA4270);
}
&__input:active{
    border: 1px #BA4270;
}
&__p {
width: 225px;
height: 18px;
margin-top: 12px;
margin-left: 20px;
@extend %main-font1; 
line-height: 18px; 
color: #6C8294;
}
}
p{
    width: 122px;
}
